.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;   
}

.form-wrapper {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.form-wrapper input {
    font-size: 18px;
    background-color: #363636;
    color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border: 2px solid black;
    outline: none;
}

.form-wrapper input:focus {
    background-color: rgba(10, 10, 10, 0.562)
}

.button-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button-group button {
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 18px;
    border: 2px solid black;
    color: aliceblue;
    background-color: rgba(10, 10, 10, 0.562);
}

.cards-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.card {
    position: relative;
    border: 2px solid black;
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    min-height: 300px;
    background-color: rgba(10, 10, 10, 0.562);
}

.card img {
    height: 21rem;
}

.text-wrapper {
    padding: 10px;
}

.text-wrapper h3 {
    margin: 0;
}

.year-vote {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.year-vote h2 {
    margin: 0;
    padding: 4px;
    border-radius: 6px;
    background-color: rgba(10, 10, 10, 0.562);
}

.year-vote p {
    margin: 0;
}

.item-desc {
    /* opacity: 0; */
    padding: 10px;
    background-color: aliceblue;
    color: black;
    position: absolute;
    left: 0;
    bottom: -120%;
    transition: all 0.4s ease;
}

.card:hover .item-desc {
    bottom: 0;
}
